@{
    ViewData["Title"] = "Página de inicio";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="custom-div">
        <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
        <p>Bienvenido al Sistema de Gestión de Parcelas de Café, tu herramienta integral para optimizar la producción y cuidado de tus cultivos. Maximiza tus cosechas, simplifica la administración y mejora la calidad de tu café, todo en un solo lugar.</p>
    </div>
    <div class="custom-div">
        
        <div class="img-container">
            <img src="/images/FotoIndex.jpeg" />
        </div>
    </div>
</body>



